*{
   background-color:aquamarine ;
}
.wrapper {
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.wrapper .form-box {
    width: 50%;
    padding: 25px;   
}

.wrapper .form-box.login {
    position: relative;
    height: 500px;
    width: 430px;
    background-color: #d777d7;
    border:2px solid black;
    border-radius: 10px;
    align-content: center;
}

form h2 {
    font-size: 35px;
    text-align: center;
    color: rgb(248, 242, 242);
    background-color: #d777d7;
}

form .input-box {
    position: relative;
    width: 400px;
    height: 30px;
    margin: 50px 0;
    background-color: #d777d7;
}

.input-box input {
    width: 90%;;
    height: 90%;
    background: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    
    
}

.input-box .icon {
    position: absolute;
    right: 55px;
    top: 37px;
    transform: translate(10px);
    font-size: 16px;
    background-color: #d777d7;
    
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    background-color: #d777d7;
    
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    background-color: #d777d7;
}

.remember-forgot a:hover {
    text-decoration: underline;
   
}

form button {
    width: 40%;
    height: 45px;
    background: #f5efef;
    border: none;
    border-radius: 15px;
    margin-left: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

form .register-link {
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
    align-items: center;
    
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    background-color: #d777d7; 
}

.register-link p a:hover {
    text-decoration: underline;
}
label{
    background-color: #d777d7;
    color: white;
    font-size: 15px;
}
p{
    background-color: #d777d7;
}