.header_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b4b0b0; 
    color: #000000;
    padding: 10px 0; 
}

.container {
    padding: 0px 20px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.drop{
    width: 100px;
    margin-left: 80%;
}

.logo {
    color: #fff; 
    right: 0;
    text-decoration: none;
    font-size: 2.6m; 
    font-weight: bold;
    margin-left: 0%; 
}

.logo .badge{
    position: absolute;
    top: 20px;
    right: 28px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 10px;

}