body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container1 {
    width: 50%;
    margin: auto;
    overflow: hidden;
    display: grid;
    padding: 15px;
    background: white;
    border-radius: 29px;
    margin-top: 5px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 2em;
    text-align: center;
    color: #136e95;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
    margin-bottom: 1px;
    width: 100%;
    justify-content: space-between;
} 

label {
    /* font-size: 20px; */
    color: #136e95;
    margin: 1px 0 0px;
    font-weight: bold;
    display: block;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.Std_submitbtn {
    font-size: 17px;
    width: 50%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 27%;
    margin-top: 27px;
}

.Std_submitbtn:hover {
    background-color: #166c7d;
    transition-delay: 0.6ms;
}