.header_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b4b0b0; 
    color: #000000;
    z-index: 1000;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    box-sizing: border-box;
}

h4 {
    font-size: 1.3rem;
    position:fixed;
    margin: 0;
}

.drop{
    width: 100px;
    margin-left: 100%;
}

.logo {
    color: #fff; 
    font-size: 1.6em; 
    font-weight: bold;
    display:flex;
    position: relative;
    align-items: center;
    margin-left: 20px;
}

.logo img {
    height: 20px;
    margin-right: 8px;
}

.logo .badge{
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 10px;
    transform: translate(0%, -50%);
}
