/* Start login */
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  white;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.login{
    width: 350px;
    background: #b9edec;
    color: #333;
    border-radius: 8px;
    padding: 10px 20px;
    border: 3px solid rgba(50, 45, 45, 0.3);
}
.login h2{
    font-size: 2.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}
.login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 23px 0 0 2px;
}
.login .input-box label{
    color: #333;
    font-weight: 400;
    text-align: left;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
}
.input-box input{
    height: 90%;
    width: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(50, 45, 45, 0.3);
    border-radius: 1rem;
    color: #333;
    font-size: 15px;
    box-sizing: border-box;
    padding: 20px;
}
.input-box input::placeholder{
    color: #333;
}

.login .rem-for{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin: 10px 0;
}
.rem-for label {
    color: #333;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    margin: 10px 7px 5px;
    
}
.rem-for label input{
    margin-right: 5px;
    font-size: small;
    width: 10%;
    margin-top: 3px;
}
.rem-for a{
    color: #333;
    text-decoration: none;
    margin-top: 3%;
    transition: color 0.3s;
}
.rem-for a:hover{
    text-decoration: underline;
}
.login .btn{
   height: 38px;
   width: 35%;
   padding: 10px; 
   margin:15px 33%;
   color: #333;
   border: none;
   border-radius: 10px;
   font-size: 1rem; 
   font-weight: 700;
}
.login .register-link{
    font-size: 1rem;
    text-align: center;
    margin: 8px;
    color: #333;
}
.register-link .r{
    color: #333;
    text-decoration: none;
    font-weight: 500;
}
.register-link .r:hover{
    text-decoration: underline;
}

  /* End login */
  
  /* Start register */
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  white;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.register{
    height: 650px;
  width: 400px;
  background: burlywood;
  color: brown;
  border-radius: 8px;
  padding: 20px 20px;
  border: 3px solid rgba(50, 45, 45, 0.3);
}
.register h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}
.register .label-box{
    position: relative;
    width: 100%;
    height: 55px;
    margin: 25px 0 0 2px; 
}
.register .label-box label{
    color: #333;
    font-weight: 400;
    text-align: left;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 10px;
    height:15px;
}
.label-box input{
    height: 80%;
    width: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(50, 45, 45, 0.3);
    border-radius: 1rem;
    color: #333;
    font-size: 15px;
    box-sizing: border-box;
    padding: 20px;
}
.label-box input::placeholder{
    color: #333;
}

.register .term{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 15px;
}
.term label {
    color: #333;
    font-weight: 400;
    width: 100%;
    display:flex;
    text-align: left;
    font-size: 1rem;
    align-items: center;
}
.term label input{
    margin-right: 3px;
    width: 8%;
    margin-bottom: 5px;
}
.register .btn{
   height: 38px;
   width: 40%; 
   margin-top:15px;
   color: #333;
   border: none;
   border-radius: 10px;
   font-size: 16px; 
   font-weight: 700;
   margin-left: 120px
}
.register .login-link{
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
    color: #333;
}
.login-link .r{
    color: #333;
    text-decoration: none;
    font-weight: 500;
}
.login-link .r:hover{
    text-decoration: underline;
}
  /* End register */

/* Start Dashboard */
.box-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    position:relative;
    margin-bottom: 400px;
}
.Std_btn {
    width: 150px; 
    height: 100px; 
    border: 2px solid #4e4e4e; 
    background-color: #c7f8f5; 
    margin: 20px; 
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    text-align: center; 
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    overflow: hidden;
    white-space: normal;
}
/* End Dashboard*/

/*Start Header */
.header_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b4b0b0; 
    color: rgb(10, 10, 10);
    padding: 3px 0; 
  }
  
  .container {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-left {
    flex: 2;
    display: flex;
  }
  
  .header-middle {
    text-align: center;
    color: rgb(203, 17, 113);
  }
  
  .notification {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20%;
    
  }
  
  .notification-icon {
    width: 28px;
    height: 30px;
    margin-left: 1%;
  }
  
  .badge {
    position: absolute;
    top: 18px; 
    right: 18px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 12px;
  }
  
  
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  .dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 60px;
  }
  
  .profile-icon {
    width: 30px;
    height: 30px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a, .dropdown-content .dropdown-logout-btn {
    color: rgb(7, 0, 137);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: none;
    background: none;
  }
  
  .dropdown-content a:hover, .dropdown-content .dropdown-logout-btn:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-logout-btn {
    cursor: pointer;
  }
  /*End Header */

  /*Start Menu*/
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
  }
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 70px;
    left: 0;
    background-color: #5a5959;
    padding-top: 20px;
  }
  .sidebar a {
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    display: block;
  }
  .sidebar a:hover {
    background-color: #555;
    color: #000;
  }

  .sidebar a svg {
    margin-right: 8px;
  }
  /*End Menu*/

  /* Start Footer*/
  .footer_bg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #949494;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
  
  .Container {
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .footer-logo {
    color: #000000; 
    font-weight: bold;
    text-decoration: none; 
    font-weight: bold; 
  }
  /* End Footer*/
  
  /* Start Student Role */
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container1{
  width: 100%;
  margin: 50px auto;
  max-width: 800px;
  overflow: hidden;
  display: grid;
  padding: 20px;
  background: white;
  border-radius: 29px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2.5em;
  text-align: center;
  color: #136e95;
  margin-bottom: 20px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
} 

label {
  color: #136e95;
  margin: 10px 0 5px;
  font-weight: bold;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  max-width: 600px;
}

.Std_submitbtn {
  font-size: 17px;
  text-align: center;
  width: 50%;
  max-width: 200px;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.Std_submitbtn:hover {
  background-color: #166c7d;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .container1 {
      width: 90%;
      margin: 20px auto;
  }

  .Std_submitbtn {
      width: 100%;
  }
}
  /*End Student role  */
  
  /* Start student table */
  .StudentTable {
    text-align: center;
  }
  
  .StudentTable-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .StudentTable-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .StudentTable-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .StudentTable-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* End student Table */
  
  /* Start User role */
  .body {
    font-family: "Roboto", sans-serif;
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 100vh;
  }
  
  .userid {
    font-size: 1.5em;
    font-weight: bold;
    display: inline;
    width: 30%;
    margin: auto;
    padding: 20px;
    color: #0bd3b1;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
    color: #282c34;
  }
  
  .roleForm {
    background-color: #efe5e5;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 0 0 15px rgba(75, 72, 72, 0.1);
    width: 350px;
  }
  
  label {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #0bd3b1;
  }
  
  .username,
  select {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .submitbtn_role {
    width: 50%;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitbtn__role:hover {
    background-color: #3ba288;
    transition-delay: 0.4ms;
  }
  /* End user role */


