.footer_bg {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #949494;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
  
  .Container {
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .footer-logo {
    color: #000000; 
    font-weight: bold;
    text-decoration: none; 
    font-weight: bold; 
  }