body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  white;
    margin: 0;
    font-family: Arial, sans-serif;
}
.register{
    width: 375px;
    background: #b9edec;
    color: #333;
    border-radius: 8px;
    padding: 20px;
    border: 3px solid rgba(50, 45, 45, 0.3);
    margin-right: 200px;
}
.register h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}
.register .label-box{
    position: relative;
    width: 100%;
    height: 55px;
    margin: 25px 0 0 2px; 
}
.register .label-box label{
    color: #333;
    font-weight: 400;
    text-align: left;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
    height:15px;
}
.label-box input{
    height: 80%;
    width: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(50, 45, 45, 0.3);
    border-radius: 1rem;
    color: #333;
    font-size: 15px;
    box-sizing: border-box;
    padding: 20px;
}
.label-box input::placeholder{
    color: #333;
}
.label-box .icon{
    position: absolute;
    font-size: 17px;
    right: 15px;
    top: 37px;
}
.register .term{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
}
.term label {
    color: #333;
    font-weight: 400;
    width: 100%;
    display:flex;
    text-align: left;
    font-size: 1rem;
    align-items: center;
}
.term label input{
    margin-right: 3px;
    width: 8%;
    margin-bottom: 5px;
}
.register .btn{
   height: 38px;
   width: 40%; 
   margin-top:20px;
   color: #333;
   border: none;
   border-radius: 10px;
   font-size: 16px; 
   font-weight: 700;
}
.register .login-link{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    color: #333;
}
.login-link .r{
    color: #333;
    text-decoration: none;
    font-weight: 500;
}
.login-link .r:hover{
    text-decoration: underline;
}