body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.container1 {
    width: 100%;
    margin: 50px auto;
    max-width: 800px;
    overflow: hidden;
    display: grid;
    padding: 20px;
    background: white;
    border-radius: 29px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 2.5em;
    text-align: center;
    color: #136e95;
    margin-bottom: 20px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
} 

label {
    color: #136e95;
    margin: 10px 0 5px;
    font-weight: bold;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    max-width: 600px;
}

.Std_submitbtn {
    font-size: 17px;
    text-align: center;
    width: 50%;
    max-width: 200px;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.Std_submitbtn:hover {
    background-color: #166c7d;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .container1 {
        width: 90%;
        margin: 20px auto;
    }

    .Std_submitbtn {
        width: 100%;
    }
}